.navbar-dark {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s;
}

.navbar-dark.scrolled {
  background-color: #c434b8;
}

.navbar-brand .navbar-logo {
  width: 160px;
  height: 40px;
  object-fit: contain;
}

body {
  padding-top: 56px; /* Adjust this value based on the height of your navbar */
}