.section {
  padding-top: 40px;
  padding-bottom: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.main-heading {
  color: #c434b8;
  font-size: 26px;
}

.underline {
  height: 4px;
  width: 4rem;
  background-color: #c434b8;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-card {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
  height: 100%;
}

.custom-card:hover {
  background-color: #c434b8;
  color: white;
}

body.dark .custom-card {
  background-color: #2e2e2e;
}

body.dark .custom-card:hover {
  background-color: #c434b8;
  color: white;
}

.card-section {
  background-color: #f0f0f0;
  padding: 20px 0;
  transition: background-color 0.3s, color 0.3s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container .col-md-4 {
  display: flex;
  margin-bottom: 20px;
}

.contacts-section {
  background-color: #e0e0e0;
  padding: 20px 0;
  transition: background-color 0.3s, color 0.3s;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-container .contact-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contacts-container .contact-item img {
  margin-right: 10px;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.light .section, body.light .card-section, body.light .contacts-section {
  background-color: #f0f0f0;
  color: #000000;
}

body.dark .section, body.dark .card-section, body.dark .contacts-section {
  background-color: #1e1e1e;
  color: #ffffff;
}

.navbar-dark.bg-dark {
  background-color: #343a40 !important;
}

.navbar-light.bg-light {
  background-color: #f8f9fa !important;
}

.theme-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.theme-toggle img {
  width: 24px;
  height: 24px;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.navbar-dark.bg-dark {
  background-color: #343a40 !important;
}

.navbar-light.bg-light {
  background-color: #f8f9fa !important;
}

.theme-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.theme-toggle img {
  width: 24px;
  height: 24px;
}

.theme-toggle .light-icon {
  filter: invert(100%);
}

.theme-toggle .dark-icon {
  filter: none;
}